<!--<div class="header">
    <div class="site-image">
        <img [src] = "source" height ="300" width="350">
        </div>
<div class="site-slogan">
<h2>  {{slogan}} {{sloganf()}}
</h2>
    </div>
</div>


-->













<!--
<section class="container">
    <div class="slider-wrapper">
    <div class="slider">
    <img id="slide-1" src="assets/Googlelens.jpg">
    <img id="slide-2" src="assets/wearables.jpg">
    <img id="slide-3" src="assets/smartwatch.jpg">
    </div>
    <div class="slider-nav">
  <a href="#slide-1"></a>
  <a href="#slide-2"></a>
  <a href="#slide-3"></a>
    </div>
    </div>

</section>
<h2>  {{slogan}}   
</h2>

-->

















<div class="container">
    <div class="wrapper">
        <img src="assets/romasyslogo.jpg">
        
        <img src="assets/romasystemhome1.jpg" >
                
    </div>
 </div>

