.navbar{
    display: flex;
    background-color: cyan;
 }
.site-name{
    padding:5px 30px;
    color: black;
}
.site-menu{
    padding: 10px 15px;
    margin-left: 500px;
}

button{
    text-decoration: none;
    margin:0px 8px;
    color: black;
}

h5{
    opacity: 0.0;
 }
 