<!--
    <div class="navbar" >
    <div class="site-name">
    <h2>
     Healthtrack
    </h2>
</div>
<div class="site-menu">
   
<h5 appMouseover>kindly click twice to see about section</h5>
<button >Home</button>
<button >Contacts</button>
<button (click) ='navigatetoproducts()'>Products</button>
<button (click) ='aboutus()'>About</button>
</div>
</div>
-->






<!--<app-about #about >

</app-about>-->
  



<header class="header">
<div class="logo">
    <a href="#">
        <img src='assets/romasys.jpeg'  height="100px" width="250px">
    </a>
</div>

<div class="navigation">

    <input type="checkbox" class="toggle-menu">
    <div class="hamburger"></div>
    <ul class="menu">
 <li [routerLinkActive] ="'active'" [routerLinkActiveOptions]="{exact:true}"><a routerLink="">Home</a></li>
 <li [routerLinkActive] ="'active'"><a routerLink="/About">About</a></li>
 <li [routerLinkActive] ="'active'"><a routerLink="/Products">Products</a></li>
 <li [routerLinkActive] ="'active'"><a routerLink="/Contact">Contact</a></li>
    </ul>

</div>
</header>
