

<div class="navbar" >
    <div class="site-name">
    <h2>
     Healthtrack
    </h2>
</div>
<div class="site-menu">
    <!--
<a href="">Home</a>
<a href="">About</a>
<a href="">Contacts</a>
<a href="">Cart</a>
<a href="">Products</a>-->
<h5 appMouseover>kindly click twice to see about section</h5>
<button >Home</button>
<button >Contacts</button>
<button (click) ='navigatetoproducts()'>Products</button>
<!--<a routerLink="/Products">Products</a>-->
<button (click) ='aboutus()'>About</button>
</div>
</div>

<!--<app-about #about >

</app-about>-->


   
    

