<!--<form (submit) ="onsubmit()" >
    <label for="firstname">First name: </label>
    <input type="text" name="firstname" ngModel >
    <br>
    <label for="lastname">Last name: </label>
    <input type="text" name="lastname"  ngModel >
    <br>
    <label for="email">email: </label>
    <input type="email" name="email" ngModel >
    <br>
    <label for="password">password: </label>
    <input type="password" name="password" ngModel >
    <br>
    <button type="submit" value="submit">click me</button>

    </form>-->



    <div *ngIf="showformstatus" style="margin-left :20px; ;">
        <h2>Form Submitted successfully</h2>
    </div>

<div class="form">
    <h2>Let's Talk</h2>
    <br>
    <form (ngSubmit) ="onsubmit(myform)" #myform ="ngForm">

        <div ngModelGroup="personaldetails" #personaldetails="ngModelGroup">
        
            <label for="firstname">Name: </label>
            <br>
    <input type="text" name="firstname" ngModel required #fname="ngModel">
     
    <br>
    <label for="email">Email: </label>
    <br>
    <input type="email" name="email" ngModel required #ename="ngModel">
   
    <br>
    <label for="contacttype"> Choose the following</label>
    <br>
    <input type="radio" value="customercare" name="contacttype" [(ngModel)]="selectedchoice" required>
    <label for="customercare"> Customer Care</label>
    <input type="radio" value="partner" name="contacttype" [(ngModel)]="selectedchoice" required>
    <label for="partner"> Partner</label>
    <br>

    <label for="message">Message: </label>
    <br>
    <!--<input type="text" name="query" [(ngModel)] ="message" required #qname="ngModel">-->
    
    <textarea  name="query" rows="4" cols="50" [(ngModel)] ="message" required #qname="ngModel"
    >Enter message</textarea>
    <div>
        <small *ngIf="personaldetails.invalid && personaldetails.touched">name,email and choice
            are required</small>
    </div>
    
</div>
    <!--<label for="password">password: </label>
    <input type="password" name="password" ngModel required #pname="ngModel">
    <small *ngIf="pname.invalid && pname.touched">password is required</small>

    <br>
      <input type="button" value="submit" [disabled]="!myform.valid">
<br>
<button type="submit" value="submit" [disabled]="!myform.valid">click me</button>-->
    
<br>
<button type="submit" value="submit" [disabled]="!myform.valid">click me</button>
    
    </form>
</div>




