.product-container{
    display: flex;
    margin:15px 0px;
    padding: 5px 5px;
    border-radius:5px;
}

.image-container{
    height:70px;
    width:70px;
    padding:10px 10px;
}

.detailcontainer{
    display:flex;
    margin:0px 20px;
}
.name-container{
    margin:0px 20px;
}

.details{
width:140px
}

.option{
    width:220px;
    margin-left:80px

}

.btn{
    font-size:10px;
    margin:0px 5px;
    padding:2px 10 px;
}

.adjustsecondimage{
    float: right;
    height: 350px;
    width: 350px;
    
}
