


<app-filter [total] ='gettotalproducts()'
[avail] ='getavailableproducts()'
[unavail] ='getnonavailableproducts()' 
#filter
>
</app-filter>

<app-search (searchtextvalue) = "aftersearchtext($event)">
    <div *ngIf="searchtext != ''">
        Just to confirm did you searched for {{searchtext}}
    </div>
</app-search>

<div > <!--<div style ="float:left ">-->
 
    <div>
    <div *ngFor ="let p of products;let i = index">
     <div *ngIf="searchtext === ''  ||  p.name.toLowerCase().includes(searchtext)"> 
         <div *ngIf="filter.selectedradiobutton === 'All'  ||  filter.selectedradiobutton === p.available">
        
            <!--<div class = "product-container" [ngStyle] ="{backgroundColor: p.available === 'Available' ? 'lightpink' :'orange'}">-->
                <div class = "product-container" >
                <div class ="image-container"><img [src]="p.image" style ="height:200px; width: 200px"></div>
        
        <div class="laptopview">
                <div >
        
        <div class="name-container" ><h1>{{p.name}}</h1></div>
        <div class="detailcontainer">
            <div class="details" [ngStyle] ="{color:p.available ===  'Available' ? 'blue' :'red'}"> {{p.available}}</div>
          <!--  <div class="details" > Price: {{p.price}}</div>
          <div class="details" > Color:{{p.color}}</div>-->
         <div class="colorposition">
            <div>Color:</div> 
            <div class="details"> 
                <ul class="a">
                 <li>{{p.colorone}}</li>
                 <li>{{p.colortwo}}</li>
                 </ul>
            </div>
         </div>
         


        </div>
        </div>
        
        <div class="options" >
        <input class="btn btn-success" type="button"  value="Show details" (click)='showappnotification($event)' 
        [placeholder]="p.name">
        <input class="btn btn-success" type="button"  value="Hide details" (click)='donotshowappnotification($event)' 
        [placeholder]="p.name">
         <!-- <button class="btn btn-success"  (click) ='showappnotification()'>
                 show details</button>
                
                [ngModel] ="selectedname"-->  

             <!-- <div *ngIf="shownotification === true && p.name === selectedname">
                    <app-notification ></app-notification>            
                </div> -->  

        <!-- <button class="btn btn-warning" *ngIf="p.available ==='Available'; else notify"
            >buy now</button>
                     
            <ng-template #notify>
                <button class="btn btn-warning"> notify</button>
            </ng-template>-->  
          
        </div>
        </div>
           
    </div>

     <div *ngIf=" shownotification === true && p.name === selectedname">
       <!--<app-notification [notification] = p.color ></app-notification> -->  
       <ul class="b">
        <li>{{p.descriptionone}}</li>
        <li>{{p.descriptiontwo}}</li>
        <li>{{p.descriptionthree}}</li>
        <li>{{p.descriptionfour}}</li>
        </ul> 
       
     </div>
          
         </div>
    </div>
    </div>
    </div>
    
    <!--<div class="somespace"> 
        <input type="button" (click) ="showimageproduct()" value="click me to check the latest products"> 
    </div>
    <div *appIf="showimageproductvalue">
        <div style="float:right"  [appClass] ="{zoomtransition : checktrue ,'zoomtransition:hover':checktrue}">
            <div [appFlip] ="{x:true}">
             <img src="assets/leftarrow.webp"  style="height:50px;width:50px">
            </div> 
             <img src="assets/smartring.webp"  style="height:500px;width:500px">
         </div>
    </div>
    -->
    
    


   